<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - TesOp</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <a href="/">
            <button class="btn btn-secondary">
                Strona główna
            </button>
        </a>
         <a href="{{ url_for('web.blogposts') }}">
                <button class="btn btn-secondary">
                    Wszystkie posty
                </button>
         </a>
        {% if logged_in %}
            <a href="{{ url_for('web.logout') }}">
                <button class="btn btn-secondary">
                    Wyloguj
                </button>
            </a>
            <a href="{{ url_for('web.blogpost_new') }}">
                <button class="btn btn-secondary">
                    Dodaj post
                </button>
            </a>
        {% else %}
            <a href="{{ url_for('web.login') }}">
                <button class="btn btn-secondary">
                    Zaloguj się
                </button>
            </a>
            <a href="{{ url_for('web.sign_up') }}">
                <button class="btn btn-secondary">
                    Zarejestruj się
                </button>
            </a>
        {% endif %}
    </nav>
    <div class="main">
        <h1>TesOp</h1>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    {% if errors %}
        <section id="error-container" class="alert-container">
            <ul class="alert alert-error">
                {% for error in errors %}
                    <li class="error">{{ error }}</li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}
    {% if messages %}
        <section id="message-container" class="alert-container">
            <ul class="alert alert-message">
                {% for message in messages %}
                    <li class="message">{{ message }}</li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}
</body>
</html>