{% extends 'layout.html' %}
{% block title %}Logowanie{% endblock %}
{% block content %}
     <div class="main">
        <h2>Zaloguj się</h2>
        <form action="authorize" method="post" enctype="multipart/form-data">
        <ul>
            <li class="form-group">
                <label for="email" class="hidden">Adres email</label>
                <input type="text" id="email" name="email" autocomplete="email" class="form-item" placeholder="Adres email" required>
            </li>
            <li class="form-group">
                <label for="password" class="hidden">Hasło</label>
                <input type="password" id="password" name="password" autocomplete="password" class="form-item" placeholder="Hasło" required>
            </li>
            <li class="form-group">
                <input type="submit" value="Zaloguj" class="btn btn-primary">
            </li>
        </ul>
        </form>
    </div>
{% endblock %}
